# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: ci

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    container: node:14-buster

    strategy:
      matrix:
        node: [12, 14]
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
      - name: Cache
        uses: actions/cache@v2
        id: cache-lerna
        env:
          cache-name: cache-lerna
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.OS }}-build-${{ env.cache-name }}-${{ github.ref }}-${{ hashFiles('**/lockfiles') }}
      - name: Verify
        run: |
          uname -a
          export DEBIAN_FRONTEND=noninteractive
          apt-get -qq -y update > /dev/null
          apt-get -qq -y install dnsutils jq net-tools > /dev/null
          netstat -tunpl
          dig httpbin
          curl http://httpbin/get
        env:
          CI: true

      - name: npm build
        run: |
          openssl version
          node -v
          npm i -g lerna nyc rollup
          npm run bootstrap
          npm run build --if-present
        env:
          CI: true
      - name: npm ci
        run: |
          # lint must after build
          npm run lint:s
          npm run ci
        env:
          CI: true
          HTTPBIN_HOST: httpbin
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1


    services:
      httpbin:
        image: kennethreitz/httpbin
        ports:
          - 80:80 # no 443

